/*  your css code here. If applicable */
form{
        display: flex;
        flex-direction: column;
        width: 20vw;
        padding: 20px;
        border: 2px solid #212121;
        gap: 10px;
        border-radius: 10px;
    }